.products{
    /* padding: 5px */
}
.product{
    background-color: #fff;
    padding: 5px;
    box-shadow: rgba(105, 116, 136, 0.1) 0 1px 10px;
    position:relative;
}
.products img{
    width: 230px;
    height: 220px;
    border-radius: 8px;
    object-fit: cover; 
    margin-top: 25px;
    display: block;
}
.product-details{
    display:flex;
    flex-direction: column;
}
.like{
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
    padding:0 10px;
    display: flex;
    flex-direction: column;
    gap: 3px;
    align-items: center;
    opacity: 0;
    transition: 0.5s ease;
}
.like label{
    background-color: rgba(0, 153, 255, 0.4);
    border-radius: 15px;
    padding: 1px 10px;
    color: #fff; 
    font-size: 15px;
}
.like .icon{
    color:rgb(245, 104, 104); 
}
.product:hover .like{
    opacity: 1;
    cursor: pointer;
}
.rate *{
 color: rgb(255, 165, 0, 0.7);
}
.add-btn{
    padding: 10px;
    width:230px;
    outline: none;
    background-color: var(--orange);
    border: none;
    opacity: 0;
}
.product:hover .add-btn{
    opacity: 0.9;
    cursor: pointer;
}